@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background: #EDF2F9;
    font-family: 'Roboto', sans-serif;
}
.nav-mat {
    box-shadow: rgba(0,0,0,0.3) 0 6px 15px;
}
.form-control, .btn {
    box-shadow: rgba(0,0,0,0.05) 0 1px 10px;
}
.row {
    display: flex;

}
.addb {
    border: 0;
    margin: 0 !important;
    padding: 0;
}
.addb .card-header {
    background: #fff;
    padding: 12px 8px 8px 15px;
}
.card-body {
    padding: 1rem 1rem;
}
.bg-work1 {
    background: rgb(186,94,255);
    background: -moz-linear-gradient(90deg, rgba(186,94,255,1) 0%, rgba(161,47,247,1) 35%, rgba(98,0,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(186,94,255,1) 0%, rgba(161,47,247,1) 35%, rgba(98,0,255,1) 100%);
    background: linear-gradient(90deg, rgba(186,94,255,1) 0%, rgba(161,47,247,1) 35%, rgba(98,0,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ba5eff",endColorstr="#6200ff",GradientType=1);
}
.list-group-item .book-img {
    height: 80px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 2px solid #dede;
    cursor: pointer;
}

.list-group-item .user-img {
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #dede;
    cursor: pointer;
}

.list-group-item .brf {
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
}

.container {
    max-width: 1280px !important;
}
.modal-dialog {
    max-width: 960px !important;
}
.book {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    margin-bottom: 10px;
    cursor: pointer;
}

.book.latest {
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.book.page {
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: default;
    position: relative;
    z-index: 15;
}

.book.page:hover {
    transform: scale(1);
}

.book.page:hover .overlay {
    background-position: 24px center;
    transition: background-position 0.2s;
}

.book.page .overlay {
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(15px) brightness(2.5) contrast(0.5);
    -webkit-filter: blur(15px) brightness(2.5) contrast(0.5);
    opacity: 0.4;
    transition: background-position 0.4s;
}

.book-detail-item {
    display: block;
    padding: .5rem 1rem;
    color: #675b79;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.book-detail-item i {
    margin-right: 5px;
}

.book:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    z-index: 15;
}
.book .author, .book .pages {
    font-size: 0.8em;
    margin-bottom: 10px;
}
.book .pages {
    margin-bottom: 10px;
}
.modal-dialog {
    z-index: 200;
}
#book_add {
    padding: 0;
    margin-bottom: 15px;
    background: #fff;
    border-radius: .375rem;
    box-shadow: rgba(0,0,0, 0.11) 0 4px 8px;
}

.row.head {
    padding: 10px;
    margin-bottom: 15px;
    background: #fff;
    border-radius: .375rem;
    box-shadow: rgba(0,0,0, 0.11) 0 4px 8px;
    text-align: center;
}

.row.head span {
    font-size: 17px;
}

.profile-head {
    transform: translateY(5rem)
}

.overlay-parent
{
    position: relative;
}

.profile-cover {
    background: rgb(255,94,243);
    background: -moz-linear-gradient(90deg, rgba(255,94,243,1) 0%, rgba(166,0,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,94,243,1) 0%, rgba(166,0,255,1) 100%);
    background: linear-gradient(90deg, rgba(255,94,243,1) 0%, rgba(166,0,255,1) 100%);
    position: relative;
}

.profile-cover:before {
    content: '';
    filter: blur(15px) brightness(2.5) contrast(0.5);
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(15px) brightness(2.5) contrast(0.5);
    opacity: 0.6;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.list-group-item.active
{
    background-color: #a12ff7;
    border-color: #b250fd;
}

.btn-primary {
    background: rgb(186,94,255);
    background: -moz-linear-gradient(90deg, rgba(186,94,255,1) 0%, rgba(161,47,247,1) 35%, rgba(98,0,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(186,94,255,1) 0%, rgba(161,47,247,1) 35%, rgba(98,0,255,1) 100%);
    background: linear-gradient(90deg, rgba(186,94,255,1) 0%, rgba(161,47,247,1) 35%, rgba(98,0,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ba5eff",endColorstr="#6200ff",GradientType=1);
    border-color: #b250fd;
    box-shadow: rgba(161,47, 247, 0.68) 0 2px 15px;
}
.btn-primary:hover {
    background-color: #c67bff;
    border-color: #c67bff;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    background-color: #8522d0;
    border-color: #a12ff7;
    box-shadow: 0 0 0 0.25rem rgb(203 133 255);
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: #a12ff7;
    border-color: #b250fd;
}

.cover {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar .container
{
    display: block;
    margin-top: 0;
}

.hlink {
    text-shadow: rgba(255, 255, 247, 0.30) 0 2px 15px;
    transition: text-shadow 0.2s;
}

.hlink, .hlink:hover, .hlink:active, .hlink:focus, .hlink:visited {
    text-decoration: none;
    color: white;
}

.hlink:hover {
    text-shadow: rgb(255, 255, 247) 0 2px 15px;
}

.hlink i {
    margin-right: 5px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

a {
    color: black;
    text-decoration: none;
}

a img {
    align-items: center;
    align-self: center;
    margin-top: -3px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    box-shadow: rgba(161, 47, 247, 0.68) 0 2px 15px;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #f3a5e2;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #f3a5e2, 0 0 5px #f3a5e2;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #f3a5e2;
    border-left-color: #f3a5e2;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.central-meta {
    background: #fdfdfd none repeat scroll 0 0;
    border: 1px solid #ede9e9;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 25px;
}
.friend-info {
    display: inline-block;
    position: relative;
    width: 100%;
}
.friend-info > figure {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

figure {
    margin: 0 0 1rem;
}
#people-list figure img, .new-postbox > figure img, .friend-info > figure img, .comet-avatar > img, .followers > li figure img, .invition figure img, .nearly-pepls > figure img, .peoples > li figure img, .conversation-head > figure img, .peoples-mesg-box > ul li > figure img, .your-page > figure img, .notification-box > ul li figure img {
    border-radius: 100%;
}
.friend-name {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    width: 90%;
}
.friend-name > ins {
    float: left;
    font-weight: 700;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
}
.friend-name > span {
    color: #999;
    float: left;
    font-size: 12px;
    text-transform: capitalize;
    width: 100%;
}
.post-meta {
    float: left;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 15px;
}
.post-meta > img {
    float: left;
    width: 100%;
}
.coment-area {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.we-comet {
    float: left;
    width: 100%;
    padding-left: 0;
    list-style: none;
}
.we-comet > li {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}
.comet-avatar {
    display: table-cell;
    max-width: 7.6%;
    vertical-align: top;
    width: 7.6%;
}
.we-comment {
    border: 1px solid #ede9e9;
    display: table-cell;
    margin-left: 20px;
    padding: 10px;
    vertical-align: top;
    position: relative;
    width: 65%;
}
.we-comet > li ul {
    margin-left: 55px;
    margin-top: 20px;
    padding-left: 0;
    list-style: none;
}
.we-comet > li ul li {
    margin-bottom: 20px;
}
.we-comment::before, .peoples-mesg-box > ul > li p:before {
    border-bottom: 10px solid transparent;
    border-right: 11px solid #ede9e9;
    border-top: 10px solid transparent;
    left: -11px;
    top: 10px;
    position: absolute;
    content: '';
}
.we-comment::after, .peoples-mesg-box > ul > li p:after {
    border-bottom: 8px solid transparent;
    border-right: 9px solid #fff;
    border-top: 8px solid transparent;
    left: -9px;
    top: 12px;
    position: absolute;
    content: '';
}
.coment-head {
    display: inline-block;
    width: 100%;
}
.coment-head > h5 {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 0;
    color: #2a2a2a;
}
.coment-head > span {
    color: #999;
    font-size: 12px;
    padding-left: 10px;
    display: inline-block;
}
.we-reply {
    text-transform: capitalize;
    font-size: 13px;
    display: inline-block;
    margin-left: 10px;
}
.we-comet > li:last-child {
    margin-bottom: 0;
}


.we-video-info {
    float: left;
    padding: 15px 0 10px;
    width: 100%;
    position: relative;
    z-index: 0;
}
.we-video-info > ul {
    float: left;
    width: 100%;
    line-height: 27px;
    padding-left: 0;
    margin-bottom: 0;
}
.we-video-info > ul li {
    display: inline-block;
    font-size: 13px;
    margin-right: 40px;
}
.we-video-info > ul li span {
    font-size: 16px;
    font-weight: 400;
    margin-right: 3px;
    position: relative;
}
.we-video-info > ul li span ins {
    font-size: 11px;
    left: 20px;
    position: absolute;
    text-decoration: none;
    top: -10px;
}
.description {
    float: left;
    margin-top: 12px;
    width: 100%;
}
.description > p {
    margin-bottom: 20px;
}

.new-postbox {
    display: inline-block;
    width: 100%;
}
.new-postbox > figure {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    width: 10.4%;
}

.newpst-input {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: 85.5%;
}
.newpst-input > form {
    display: inline-block;
    width: 100%;
}
.newpst-input textarea {
    float: left;
    width: 100%;
}

textarea {
    border: 1px solid #eeeeee;
    border-radius: 6px 6px 0 0;
    padding: 10px;
    width: 100%;
    border-bottom: 0;
}
.attachments {
    border: 1px solid #eee;
    display: block;
    padding: 10px;
    text-align: right;
    border-top: 0;
    background: #fff;
}

.attachments > ul {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}
.attachments li {
    display: inline-block;
    margin-left: 5px;
}
.fileContainer {
    color: #d8d8d8;
    font-size: 11px;
    margin: 0 0 0 5px;
    position: relative;
    text-transform: capitalize;
}
.attachments .fileContainer [type="file"] {
    right: 6px;
    top: -18px;
    width: 20px;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 0;
    width: 100%;
    overflow: hidden;
}

figure .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
    box-shadow: rgb(175, 68, 255) 0 0 10px;
}

.trends {
    max-width: 600px;
    overflow-y: auto;
}

.wordbook {
    margin-top: 30px;
    text-transform: lowercase !important;
}

.s-trends, .s-trends-btn {
    background: transparent;
    text-transform: lowercase;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-bottom: 2px transparent solid;
}

.s-trends.active {
    border-bottom-color: #fff;
}

.dropdown-item.s-trends
{
    color: #000 !important;
}

.entry-content
{
    max-height: 125px;
    overflow-y: hidden;
}

spoiler {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transition: all 0.2s;
}

spoiler:hover {
    filter: blur(0);
    -webkit-filter: blur(0);
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.wrap {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}
.text-wrap {
    background: rgb(246,35,230);
    background: -moz-linear-gradient(90deg, rgba(246,35,230,1) 0%, rgba(255,103,103,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(246,35,230,1) 0%, rgba(255,103,103,1) 100%);
    background: linear-gradient(90deg, rgba(246,35,230,1) 0%, rgba(255,103,103,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f623e6",endColorstr="#ff6767",GradientType=1);
    color: #fff;
}

.text-wrap, .login-wrap {
    width: 50%;
}
.login-wrap {
    position: relative;
    background: #fff;
}
.form-control {
    height: 48px;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.text-md-right {
    text-align: right !important;
}

.text-wrap, .login-wrap {
    width: 50%; }
@media (max-width: 991.98px) {
    .text-wrap, .login-wrap {
        width: 100%; } }
